// Define variables for your color scheme

// For example:
$prussian-blue: #192F4E;
$steel-blue: #467B9F;
$fire-opal: #EC635E;
$uranian-blue: #EC635E;
$beau-blue: #D8EDFF;
$light-green: #A0FCB4;
$azure: #F1FFFF;
$maya-blue: #85C6FF;
