// MEDIAS
@mixin media($breakpoint) {
  @if $breakpoint == small {
    @media (max-width: 60em) {
      @content;
    }
  }
}

// VARIABLES

.banner-home-page {
  display: flex;
  text-align: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
  padding: 320px 0;

  h1 {
  margin: 0px;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
  padding-bottom: 10px;
  }

  p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  }

  .btn-home-page {
  border-radius: 50px;
  height: 40px;
  width: 110px;
  font-size: 15px;
  background-color: $fire-opal;
  color: white;
  border-color: $fire-opal;
  }

  .input-group {
  display: flex;
  text-align: center;
  justify-content: center;
  position: relative;
  border-radius: 5px;
  width: 125%;
  flex-wrap: unset;

  .select2-container .select2-selection--single {
  margin-left: 20px;
  }

  }

  .select2 {
    width: 53% !important;
  }

}

.container-banner {
  width: 690px;
}

.search-bar-home {
  width: 550px;
}

.my-home-container {
 min-height: 10em;
 display: table-cell;
 vertical-align: middle;
 margin-top:30px;
 position :relative;
 margin-bottom : 20px;
}

$color-header: $fire-opal;
$color-text: $prussian-blue;

$transition: .2s;

.grid-home {
  display: grid;
  width: auto;
  margin-left: 32px;
  margin-right: 32px;
  grid-gap: 1rem;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: start;

  @include media(small) {
      grid-gap: 3rem;
   }

  &home-item {
    background-color: #fff;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 3rem 6rem rgba(0, 0, 0, .1);
    cursor: pointer;
    transition: $transition;

    &:hover {
      transform: translateY(-.5%);
      box-shadow: 0 4rem 8rem rgba(0, 0, 0, .2);
    }
  }
}

.card-home {

  .card-home-img {
    display: inline-block;
    width: 150px;
    padding-top: 20px;
  }

  .card-home-content {
    padding: 3rem 3rem;
    }

  .card-home-header {
    font-size: 1.6rem;
    font-weight: 550;
    color: $color-header;
    margin-bottom: 1.2rem;
  }

.card-home-text {
  font-size: 0.83rem;
  letter-spacing: .1rem;
  line-height: 1.6;
  color: darken($color-text, 1%);
  margin-bottom: 0.1rem;
  }

}




