// Import page-specific CSS files here.
@import "home";

.form-control {
    display: inline-block;
    height: calc(1.5em + 0.8rem + 2.5px);
    padding: 0.375rem 0.75rem;
    color: $prussian-blue;
    background-color: #fff;
    border: 1px double $steel-blue;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

input, button, select, optgroup, textarea {
    margin: 10px;
}

#quantity-form {
  border-radius: 6px;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
}

#address-search-bar {
  border-radius: 6px;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  margin-right: 22px;
  margin-left: 0px;
}

#radius-search-bar {
  border-radius: 6px;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  max-width: 300px;
  margin-right: 30px;
  margin-left: 0px;

}

#product-search-bar {
  border-radius: 6px;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
}

#quantity-search-bar {
  border-radius: 6px;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  max-width: 150px;
  margin-right: 22px;
  margin-left: 0px;
}

#price-search-bar {
  border-radius: 6px;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  max-width: 170px;
  margin-right: 22px;
  margin-left: 0px;
}

.input-group > .input-group-append > .btn, .input-group > .input-group-append > .input-group-text, .input-group > .input-group-prepend:not(:first-child) > .btn, .input-group > .input-group-prepend:not(:first-child) > .input-group-text, .input-group > .input-group-prepend:first-child > .btn:not(:first-child), .input-group > .input-group-prepend:first-child > .input-group-text:not(:first-child) {
  border-radius: 50px;
  height: 50px;
  margin-top: 36px;
}

.search-bar-index {
    background-color: white;
    padding-top: 10px;
    padding-bottom: 10px;
}


.field {
  margin-left: 20px;
  label {
    display: block;
  }
}

.field-adress {
  flex:1;
}












