.new_project {
}

.main-project-actions {
  height: calc(100vh - 70px - 80px);
  overflow: hidden;
}

.new_project .new-project-banner {
  height: 80px;
  background-color: white;
  border-top: 1px ridge rgba(25, 47, 78, .2);
  padding: 10px;
  display: flex;
  align-items: center;
}

.new_project .recap-collab-list {
  height: calc(100vh - 205px);
  overflow: hidden;
  .list-group {
    height: 100%;
    overflow-y: auto;
  }
    .list-group-item {
      cursor: pointer;
  }
}

.new_project .recap-project-form-container {
  height: calc(100vh - 205px);
  overflow: hidden;
  .recap-project-form {
    height: 100%;
    overflow-y: auto;
  }
  .recap-project-form .form-control {
    width: 90%;
  }
}

