.main-project-actions {
  height: calc(100vh - 70px - 80px);
  overflow: hidden;
}

.new_project .new-project-banner {
  height: 80px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 6px 16px;
  padding: 10px;
  display: flex;
  align-items: center;
}

.new_project .recap-collab-list {
  height: calc(100vh - 205px);
  overflow: hidden;
  .list-group {
    height: 100%;
    overflow-y: auto;
  }
    .list-group-item {
      cursor: pointer;
      border-radius: 5px;
  }
}

.new_project .recap-project-form-container {
  height: calc(100vh - 205px);
  overflow: hidden;
  .recap-project-form {
    height: 100%;
    overflow-y: auto;
  }
  .recap-project-form .form-control {
    width: 90%;
  }
}

.match-quantity {
  width: 30%;
}

.matches_match_quantity {
  display: flex;
  justify-content: end;
  align-items: center;
  margin-bottom: 10px;
  font-size: 16px;
}

.submit-project {
  justify-content: center;
  align-items: center;
}

.call-to-action-project {
  display: flex;
  background: $beau-blue;
  border-radius: 5px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
  p{
    margin: 10px 15px;
  }
}


#btn-project-datepicker {
  color: $fire-opal;
}

#btn-cancel-project {
  color: $fire-opal;
  border-color: $fire-opal;
}

.list-offers-product {
  margin-bottom: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.quote-offer {
  background-color: rgba(0,0,0,0.03);
  border-radius: 10px;
  padding: 5px 10px;
  margin-top: 15px;
  margin-bottom: 15px;
  p {
    font-size: 14px;
  }
}

