<div class= "notification">

<p> <%= user.first_name %> <% user.last_name %> vient de rejoindre ton projet. </p>
<p><%= user.offers.last.quantity %> <%= user.offers.last.product.product_type  %>s en plus!</p>
</div>
