.container-show-project{
  display: flex;
  justify-content: center;
  min-height: calc(100vh - 100px - 71px);
  align-items: center;
}

.card-show-project{
  min-height: 32rem;
  min-width: 56rem;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 16px;
  border-radius: 4px;
  padding: 10px;
}

.align-content-tab{
  margin: 1rem;
}


.container-show-project-yannis {

  position: relative;
}

.notification {

  position: absolute;
  top: 10px;
  right: 10px;
  background: yellow;
  font-size: 15px;
  border: 2px solid black;

}
