.vertical-nav {
  min-width: 17rem;
  width: 17rem;
  height: 100vh;
  position: sticky;
  top: 0;
  left: 0;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.4s;
  float: left;
}

.page-content {
  width: calc(100% - 17rem);
  margin-left: 17rem;
  transition: all 0.4s;
  padding: 1rem 3rem;
}

/* for toggle behavior */

#sidebar.active {
  margin-left: -17rem;
}

#content.active {
  width: 100%;
  margin: 0;
}

@media (max-width: 768px) {
  #sidebar {
    margin-left: -17rem;
  }
  #sidebar.active {
    margin-left: 0;
  }
  #content {
    width: 100%;
    margin: 0;
  }
  #content.active {
    margin-left: 17rem;
    width: calc(100% - 17rem);
  }
}

#content {
  background: #5BA1D8;;
  min-height: 100vh;
  overflow-x: hidden;

  .separator {
    margin: 3rem 0;
    border-bottom: 1px dashed #fff;
  }

  .text-uppercase {
    letter-spacing: 0.1em;
  }

  .text-gray {
    color: #aaa;
  }
}

.top-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.top-in-card {
  display: flex;
  flex-direction: column;
  text-align: center;

  p {
    margin-bottom: 0px;
  }
}

.dashboard-cards {
  border-radius: 4px;
  background: white;
  border: 2px solid transparent;
  margin-bottom: 35px;
  padding: 13px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.08)
}

.dashboard-cards-notification {
  margin-top: 35px;
  border-radius: 4px;
  background: white;
  border: 1px solid transparent;
  margin-bottom: 35px;
  padding: 13px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.08)


}

.dashboard-cards-map {
  margin-top: 35px;
  border-radius: 4px;
  background: white;
  border: 1px solid transparent;
  margin-bottom: 35px;
  padding: 13px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.08)
}

#circle-container {
  // margin: 20px;
  // width: 200px;
  // height: 200px;
  // position: relative;
  border: 10px solid $dark-blue;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.percentage {
  // position: absolute;
  // top: 45px;
  // left: 112px;
  font-size: 25px;
  color: $dark-blue;
  span {
    font-size: 15px;
  }
}

.top-in-card-text {
  color: rgba(0,0,0,0.4);
}

.top-in-card-title {
  color: $dark-blue;
  font-size: 50px;
}

.vertical-separator {
  height: 100px;
  border-left: 1px solid rgba(0,0,0,0.2);
}



.dashboard-cards-map {
  margin-top: 35px;
  border-radius: 4px;
  background: white;
  border: 1px solid transparent;
  margin-bottom: 35px;
  padding: 13px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.08);


}


.dashboard-card-friends {
  position: relative;
  margin-top: 35px;
  border-radius: 4px;
  border: 1px solid transparent;
  margin-bottom: 35px;
  padding: 13px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.08);
  display: flex;
  justify-content: space-around;
  background: #7eb5fa;


}

.friend-card-text {
  display: block;
  margin-left: 50px;


  h2 {
    font-size: 24px;

  }
}

.avatar-friend {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    position: absolute;
    top: 17px;
    left: 41px
}




