.bg-dashboard{
  background: linear-gradient(to bottom, #5FB4FF 0%, #5FB4FF 33%, #FFFF 33%, #FFFF 100%);
  background-attachment: fixed;
}

.vertical-nav {
  overflow: hidden;
  min-width: 16rem;
  width: 16rem;
  height: 100vh;
  position: sticky;
  top: 15px;
  left: 0;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.4s;
  float: left;
  background: #F8F9FA;
  margin: 15px;
  border-radius: 5px;
}

.user-detail{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.page-content {
  margin-left: 17rem;
  transition: all 0.4s;
  padding: 1rem 3rem;
}

/* for toggle behavior */

#sidebar.active {
  margin-left: -17rem;
}

#content.active {
  width: 100%;
  margin: 0;
}

@media (max-width: 768px) {
  #sidebar {
    margin-left: -17rem;
  }
  #sidebar.active {
    margin-left: 0;
  }
  #content {
    width: 100%;
    margin: 0;
  }
  #content.active {
    margin-left: 17rem;
    width: calc(100% - 17rem);
  }
}

#content {
  min-height: 100vh;
  overflow-x: hidden;

  .separator {
    margin: 3rem 0;
    border-bottom: 1px dashed #fff;
  }

  .text-uppercase {
    letter-spacing: 0.1em;
  }

  .text-gray {
    color: #aaa;
  }
}

.top-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.top-in-card {
  display: flex;
  flex-direction: column;
  text-align: center;

  p {
    margin-bottom: 0px;
  }
}

.dashboard-cards {
  border-radius: 4px;
  background: white;
  border: 2px solid transparent;
  margin-bottom: 35px;
  padding: 13px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.08)
}

.dashboard-cards-notification {
  margin-top: 35px;
  border-radius: 4px;
  background: white;
  border: 1px solid transparent;
  margin-bottom: 35px;
  padding: 13px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.08);
}

.dashboard-cards-map {
  margin-top: 35px;
  border-radius: 4px;
  background: white;
  border: 1px solid transparent;
  margin-bottom: 35px;
  padding: 13px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.08);
}

#circle-container {
  // margin: 20px;
  // width: 200px;
  // height: 200px;
  // position: relative;
  border: 10px solid $dark-blue;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.percentage {
  font-size: 25px;
  color: $dark-blue;
  span {
    font-size: 15px;
  }
}

.top-in-card-text {
  color: rgba(0,0,0,0.4);
}

.top-in-card-title {
  color: $dark-blue;
  font-size: 50px;
}

.vertical-separator {
  height: 100px;
  border-left: 1px solid rgba(0,0,0,0.2);
}

.dashboard-cards-map {
  margin-top: 10px;
  border-radius: 4px;
  background: white;
  border: 1px solid transparent;
  margin-bottom: 35px;
  padding: 13px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.08);
}

.card-friend {
  overflow: hidden;
  background: #b8d3ed;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  display: flex;
  align-items: center;
  border-radius: 5px;
  justify-content: space-between;
  margin: 8px;
}

.left-content-friend-card{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.right-content-friend-card{
  display: flex;
  text-align: end;
  margin-right: 15px;
}

.color-dark-blue {
  color: $dark-blue;
}

.side-nav-button {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.side-nav-items {
  margin-bottom: 15px;
  background: #F8F9FA;
}
