.call-to-action {
    background: $maya-blue;
    display: flex;
    color: $prussian-blue;
    align-items: center;
    position: absolute;
    justify-content: space-between;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    height: 50px;
    border-radius: 5px;
    font-size: 15px;

  p {
    font-size: 15px;
    margin-bottom: 0px;
    text-align: center;
    flex-grow: 1;
  }

  .btn-call {
    height: 50px;
    display: flex;
    background-color:white;
    color: $maya-blue;
    border-color:white;
    align-items: center;
    border-radius: 5px;
    width: 250px;
    justify-content: center;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    font-size: 15px;
  }
}

.mapboxgl-popup {
  max-width: 240px;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  position: absolute;
}

.mapboxgl-popup-content {
  padding: 7px;
  text-align: center;
  font-family: 'Open Sans', sans-serif;


.blouse {
  width: 30px;
  height: 30px;
  position: absolute;
  left: 5px;
  top: 5px;
}


.card-grey {
  opacity: 0.6;
}

.avatar {
  width: 40px;
  border-radius: 50%;
  }

  h2 {
  font-size: 20px;
  margin: 0;
  }

  p {
  font-size: 10px;
  margin-bottom: 0;
  }
}

.masque {
  width: 40px;
  height: 40px;
  position: absolute;
  left: 5px;
  top: 1px;
}

.map-container {
  position: relative;
}
