.navbar-lewagon {
  height: 70px;
  justify-content: space-between;
  background-color: $azure;

  .btn-ghost .nav-link {
    color: $primary;
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
  color: $prussian-blue;
}

.navbar-lewagon .navbar-brand img {
  width: 45px;
}

.dropdown-navbar {
  padding-left: 10px;
}

.btn-ghost {
  color: $primary;
  border: 0.1px solid $primary;
  padding: 0px 0px;
  border-radius: 40px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.home .navbar-lewagon {
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

}

.home .navbar-light .navbar-nav .nav-link {
   color: white !important;
  }
