.navbar-lewagon {
  height: 70px;
  background-color: white;
  border-bottom: 1px solid lightgrey;
  justify-content: space-between !important;

  .btn-ghost .nav-link {
    color: $primary;
    border-radius: 5px;
  }

  .btn-primary-navbar {
  border-radius: 5px;
  height: 40px;
  width: 130px;
  font-size: 15px;
  justify-content: center;
  align-items: center;
  background-color: $fire-opal;
  color: white;
  border-color: $fire-opal;
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
  color: $prussian-blue;
}

.navbar-lewagon .navbar-brand img {
  width: 45px;
}

.dropdown-navbar {
  padding-left: 10px;
}

.btn-ghost {
  color: $primary;
  border: 0.1px solid $primary;
  padding: 0px 0px;
  border-radius: 40px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.home .navbar-lewagon {
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  border-bottom: none !important;

}

.home .navbar-light .navbar-nav .nav-link {
   color: white !important;
}

.logo-and-name {
  display: flex;
  align-items: center;
}

.navbar-brand-name {
  width: 50%;
  margin-top: 10px;
}
