.center-sign-in {
    margin-left: 250px;
    margin-right: 300px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    justify-content: center;
}

h2 {
text-align: center;
}

.form-control string email required {
max-width: 10px;
}

